.Weather {
  border: 1px solid grey;
  font-family: Roboto, arial, sans-serif;
  padding: 16px;
  border-radius: 4px;
  margin: 30px auto;
  max-width: 600px;
}

.Weather h1 {
  color: black;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 20px;
}

.btn {
  margin: auto;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  display: block;
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  list-style: none;
}
